.attendees {
  margin-bottom: 40px;
}

.eventColumnLeft {
  width: 600px;
  height: 100%;
  margin: auto;
}

.rightColor {
  position: fixed;
  background-color: #fde2e4;
  top: 0;
  left: 58%;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.title {
  padding-top: 75px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.comments > h3 {
  margin: 20px;
}

.commentBlock{
  display: flex;
  margin: auto;
  box-sizing: border-box;
  min-height: 40vh;
  height: 50vh;
  flex-direction: column;
  border: 1px solid #000;
  overflow-y: auto;
  width: 400px;
  justify-content: flex-end; 
}

.comments {
  overflow: auto;
  width: 100%;
}

.eventButtons{
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 100%;
}

.image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.image > div:hover {
  background-color: rgba(0,0,0, 0.3);
  animation: fade;
  animation-duration: 0.3s;
}

@keyframes fade {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.3);;
  }
}

.imageArea {
  display: flex;
  justify-content: center;
  align-items: start;
}

.imageArea > i {
  padding: 10px;
  color: white;
}

.eventDates {
  box-sizing: border-box;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #000;
  margin: 2% auto;
  padding-bottom: 15px;
}

.desc{
  margin-bottom: 25px;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
}

.rsvp {
  width: 50%;
  margin: auto;
  height: 40px;
}

.commentB {
  width: 30%;
  margin: auto 0px;
}

.commentIn {
  width: 70%;
}

.comment {
  box-sizing: border-box;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 20px;
  margin: 8px 0px;
  border-bottom: 1px solid rgba(0,0,0, 0.3)
}

.postComment {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
}

 .dateTimeDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 5%;
}

@media (max-width: 1085px) {
  .eventColumnRight {
    width: 400px;
    height: 100%;
    margin: 40px auto;
    position: static;
    right: auto;
    top: auto;
  }
}

@media (max-width: 605px) {
  .eventColumnLeft {
    width: 400px;
    height: 100%;
    margin: auto;
  }
  
  .image {
    width: 400px;
    max-height: 266px;
  }

  .eventColumnRight {
    width: 400px;
    height: 100%;
    margin: 40px auto;
    position: static;
    right: auto;
    top: auto;
  }
}

@media (max-width: 405px) {
  .eventColumnLeft {
    width: 375px;
    height: 100%;
    margin: auto;
  }
  
  .image {
    width: 375px;
    max-height: 250px;
  }

  .eventColumnRight {
    width: 375px;
    height: 100%;
    margin: 40px auto;
    position: static;
    right: auto;
    top: auto;
  }
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.modal-background {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
  animation: fade2;
  animation-duration: 0.5s;
	z-index: 10;
}

@keyframes fade2 {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.modal-content {
	position: absolute;
	max-width: 90vw;
	max-height: 80vh;
	z-index: 10;
	animation-name: zoom;
	animation-duration: 0.3s;
}

@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
} ;