.editModal {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.editEventDiv {
  position: fixed;
  max-width: 90vw;
  max-height: 80vh;
  z-index: 10;
  animation-name: slide;
  animation-duration: 0.5s;
  transform: translateY(15vh);
}

@media screen and (max-width: 510px) {
  .editEventDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    max-width: 90vw;
    max-height: 80vh;
    z-index: 10;
    animation-name: slide;
    animation-duration: 0.5s;
  }
}

.modalBackground {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  animation-name: fade;
  animation-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
}

.editEventForm {
  background-color: blanchedalmond;
}

.changes {
  position: fixed;
  z-index: 20;
  animation-name: slide2;
  animation-duration: 5s;
  color: red;
}

@keyframes fade {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes slide {
  from {
    transform: translateY(-500px);
  }
  to {
    transform: translateY(15vh);
  }
}

@keyframes slide2 {
  0% {
    transform: translate(-1000px, -30px);
  }
  30% {
    transform: translate(0, -30px);
  }
  70% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(1000px, 30px);
  }
} ;
